adjustText>=0.6.1
biopython>=1.70
fastcluster>=1.1.23
ipython>=5.4.1
matplotlib>=2.0.2
matplotlib-venn>=0.11.5
networkx>=1.11
numpy>=1.13.1
numpydoc>=0.7
pandas>=0.20.3
scikit-learn>=0.18.2
scipy>=1.0.0
seaborn>=0.8
uniprot==1.3
xlsxwriter>=0.9.8
